section.homepage {
  div.container {
    div.content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;

      h1 {
        font-size: 2rem;
        color: #333;
      }
      p {
        font-size: 1rem;
        color: #666;
      }
    }
  }
}
