<section class="homepage">
  <div class="container">
    <div class="content">
        <h1>Project Capybara</h1>
        <p>Project Capybara is a project that was created by Ben, Aya, Antoine & Ismael. </p>

      <p>Une CICD performante et un docker aux ptits oignons</p>
      <button (click)="toggleImage()">Click for a surprise</button>
      <img *ngIf="showImage" src="../assets/capybara.jpeg" alt="Description de l'image">
    </div>
  </div>
</section>
